/*
 *= require 'reset'
 *= require_self
 */

.field label{
	display: block;
}

.field {
	margin-bottom: 10px;
}

body {
	padding: 25px;
	background: #252525;
	color: #cccccc;
}

.errors {
	color: red;
}